.contentWindow {
    display: grid;
    gap: 20px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 50px;
}

.productBox {
    gap: 20px;
    background-color: white;
    padding: 20px;
    width: 100%;
}

.categoryBox {
    background-color: moccasin;
    padding: 10px 20px;
    font-size: 20px;
}

@media (min-width: 1200px) {
    .contentWindow {
        grid-template-columns: repeat(3, 1fr);
        width: 75%;

    }
    .productBox {
        border-radius: 40px;
    }
}

@media (max-width: 1199px) and (min-width: 800px) {
    .contentWindow {
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
    }
    .productBox {
        border-radius: 30px;
    }
}

@media (max-width: 799px) {
    .contentWindow {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .productBox {
        border-radius: 25px;
    }
}